@{
    ViewBag.Title = "Home Page";
}
<h3>The World0</h3>
<p>Alo!</p>

<form>
    <div>
        <label>Date</label>
        <input />
    </div>
    <div>
        <label>Location</label>
        <input />
    </div>
    <div><input type="submit" value="Add" /></div>
</form>